<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kgc.exam.mapper.GradeMapper">
<select id="getListGrade"   resultType="GradeInfo"  >
select * from gradeinfo  where gradeId=#{gradeId}
</select>
<select id="showGrade"  resultType="GradeInfo">
select * from gradeinfo where gradeId=#{gradeId}
</select>
<select id="getGradeList"  resultType="GradeInfo">
select * from gradeinfo
</select>
	<select id="getGradeById" resultType="GradeInfo">
		select * from gradeinfo where gradeId=#{gradeId}
	</select>

	<select id="getListGradeInfo" resultType="GradeInfo" >
		select gradeId,gradeName from gradeinfo
	</select>
	<select id="getClassInfoById" resultType="ClassInfo" >
		select classId,className,gradeId,teacherId from classinfo where gradeId=#{id}
	</select>
	<insert id="addGrade" parameterType="GradeInfo" >
		insert into gradeinfo values (null,#{gradeName})
	</insert>
	<update id="updateGradeInfo" parameterType="GradeInfo">
		update gradeinfo set gradeName=#{gradeName} where gradeId=#{gradeId}
	</update>
	<delete id="delGrade" parameterType="GradeInfo">
		delete from gradeinfo where gradeId=#{id}
	</delete>

</mapper>